<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>URL Shortener</title>
   <style>
      body {
         background-color: rgb(13, 13, 51); 
         color: aliceblue;
      }
      
      .container {
         display: flex; 
         width: 100wh; 
         height: 100vh; 
         justify-content: center; 
         align-items: center;
      }

      .wrapper {
         background-color: aliceblue;
         color: rgb(13, 13, 51); 
         padding: 0rem 3rem 3rem 3rem; 
         border-radius: 5px; 
         margin: 0 auto;
      }

      .output {
         color: green; 
         font-weight: 500;
      }

      table td {
         padding: 1rem;
      }
   </style>
</head>
<body>
   <div class="container">  
   <div class="wrapper">
      <h1>Hi, <%= locals.name %></h1>
      <h2>Generate Shorthand URL for any URL !</h2>
      <form method="POST" action="/api/url">
         <label for="redirectURL">Enter URL here: </label>
         <input type="text" min="10" name="url" placeholder="https://example.com" size="50px"/>
         <button>Generate</button> 
      </form>

      <% if (locals.id) { %>
         <p class="output">URL Generated : 
            <a href="http://localhost:8080/api/<%= id %>" target="_blank">http://localhost:8080/api/<%= id %></a>
         </p>
      <% } %>

      <% if (locals.URLs) { %>
         <table style="padding-top: 2rem;">
            <thead>
               <tr>
                  <th>SNo.</th>
                  <th>Short ID</th>
                  <th>Redirect</th>
                  <th>Clicks</th>
               </tr>
            <tbody>
               <% URLs.forEach((url, index) => { %>
                  <tr>   
                     <td><%= index + 1 %></td>  
                     <%= console.log(url.shortId) %> 
                     <td><a href="http://localhost:8080/api/<%= url.shortId %>" target="_blank">http://localhost:8080/api/<%= url.shortId%></a></td>   
                     <td title="<%= url.redirectURL %>"><%= url.redirectURL.substring(0,20) %>...</td>   
                     <td><%= url.visitHistory.length %></td>   
                  </tr>
               <% }) %>
            </tbody>
         </table>
      <% } %>
   </div>
   </div>
</body>
</html>